/*	--------------------------------------------------------------------
	[color.css]

	Table of Contents
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
	1. Default Style
	2. Background
	3. Background Form
	4. Background links
	
	
	My Colors
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

	
--------------------------------------------------------------------	*/


/*	--------------------------------------------------------------------	
	1. Default Style : because we need one :)
--------------------------------------------------------------------	*/

body { background-color: #fefefe; color: #1b1b1b; }


/*	--------------------------------------------------------------------	
	2. Background
--------------------------------------------------------------------	*/

.bgBlack { background-color: #1b1b1b;  color: #fefefe; }
.bgWhite { background-color: #fefefe; color: #1b1b1b; }


/*	--------------------------------------------------------------------	
	3. Background Form
--------------------------------------------------------------------	*/

.bgWhite form input, .bgWhite form textarea, form input, form textarea { border:1px solid #d4d4d4; background-color:#f2f2f2; color: #1b1b1b; }
.bgWhite #commentaires .comment-entry, #commentaires .comment-entry { color: #1b1b1b; border:1px solid #d4d4d4; background-color:#f2f2f2; }

.bgBlack form input, .bgblack form textarea { border:1px solid #545454; background-color:#282828; color: #fefefe; font-size: 14px; }
.bgBlack #commentaires .comment-entry, .bgBlack #commentaires textarea { border:1px solid #545454; background-color:#282828; color: #fefefe; }

/*	--------------------------------------------------------------------	
	4. Background links
--------------------------------------------------------------------	*/

.bgBlack a { color: #fefefe; }
.bgBlack a:hover { border-bottom: 1px solid; }

.bgWhite a, a { color: #1b1b1b; }
.bgWhite a:hover, a:hover { border-bottom: 1px solid; }
