/*	--------------------------------------------------------------------
	[layout.css]
	
	Credits : Thx to http://960.gs!

	Table of Contents
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
	1. Padding
	2. Grid

--------------------------------------------------------------------	*/

/*	--------------------------------------------------------------------	
	1. Padding
--------------------------------------------------------------------	*/

.alpha { padding-left: 0; }
.omega { padding-right: 0; }
.padding { padding:  0 10px; }
.margin { margin: 0 10px; }


/*	--------------------------------------------------------------------	
	2. Grid
--------------------------------------------------------------------	*/

.container_12 { width:960px; }

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 { display:inline; float: left; }

.container_12 .grid_1 { width:60px; }
.container_12 .grid_2 { width:140px; }
.container_12 .grid_3 { width:220px; }
.container_12 .grid_4 { width:300px; }
.container_12 .grid_5 { width:380px; }
.container_12 .grid_6 { width:460px; }
.container_12 .grid_7 { width:540px; }
.container_12 .grid_8 { width:620px; }
.container_12 .grid_9 { width:700px; }
.container_12 .grid_10 { width:780px; }
.container_12 .grid_11 { width:860px; }
.container_12 .grid_12 { width:940px; }

.container_12 .prefix_1 { padding-left:60px; }
.container_12 .prefix_2 { padding-left:140px; }
.container_12 .prefix_3 { padding-left:220px; }
.container_12 .prefix_4 { padding-left:300px; }
.container_12 .prefix_5 { padding-left:380px; }
.container_12 .prefix_6 { padding-left:460px; }
.container_12 .prefix_7 { padding-left:540px; }
.container_12 .prefix_8 { padding-left:620px; }
.container_12 .prefix_9 { padding-left:700px; }
.container_12 .prefix_10 { padding-left:780px; }
.container_12 .prefix_11 { padding-left:860px; }

.container_12 .suffix_1 { padding-right:60px; }
.container_12 .suffix_2 { padding-right:140px; }
.container_12 .suffix_3 { padding-right:220px; }
.container_12 .suffix_4 { padding-right:300px; }
.container_12 .suffix_5 { padding-right:380px; }
.container_12 .suffix_6 { padding-right:460px; }
.container_12 .suffix_7 { padding-right:540px; }
.container_12 .suffix_8 { padding-right:620px; }
.container_12 .suffix_9 { padding-right:700px; }
.container_12 .suffix_10 { padding-right:780px; }
.container_12 .suffix_11 { padding-right:860px; }

.container_12:after, .clearfix:after { clear:both; content:'.'; display:block; height:0; visibility:hidden; }
.container_12, .clearfix { display:inline-block; }
* html .container_12, * html .clearfix { height:1%; }
.container_12, .clearfix { display:block; }