/*	--------------------------------------------------------------------
	[myclass.css]

	Table of Contents
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
	1. Display
	2. Float and align
	3. Pics

--------------------------------------------------------------------	*/


/*	--------------------------------------------------------------------	
	1. Display 
--------------------------------------------------------------------	*/

.displayBlock { display: block; }
.displayNone { display: none; }
.displayInline { display: inline; }
.listInline li { display: inline; }

/*	--------------------------------------------------------------------	
	2. Float and Align 
--------------------------------------------------------------------	*/

.floatRight { float: right; }
.floatLeft { float: left; }
.center { margin: 0 auto; }

/*	--------------------------------------------------------------------	
	3.Pics
--------------------------------------------------------------------	*/

.pic a:hover { border-bottom: 0; }