/*--------------------------------------------------------------------

[Master Stylesheet]

Framework : BIC
Version : 2.7.2
Last Change : 17/02/2010
Author : Alexandre "pocky" BALMES - http://www.pockyworld.com
Please use for beautiful design only

[Credits]
clean.css is inspired from Meyer : http://meyerweb.com

--------------------------------------------------------------------*/


@import "bic/clean.css";
@import "bic/typography.css";
@import "bic/color.css";
@import "bic/layout.css";
@import "bic/myclass.css";


/*--------------------------------------------------------------------
  1. General
--------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*--------------------------------------------------------------------
   2. Login
--------------------------------------------------------------------*/

body#login {
  background: url('/images/login/bg.jpg') #000;
  color: #ebebeb;
}

body#login a {
  color: #ebebeb;
}

body#login h1 a:hover {
  border-bottom: 0;
}

body#login h2 {
  font-weight: bolder;
  text-indent: 0px;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 10px;
}

#containerIn {
  padding-top: 200px;
}

#login h1 {
  margin-top: 70px;
}

#login #form {
  border-left: 1px solid #fbfbfb;
  padding-left: 20px;
}

#login #form .text-input {
  width: 255px;
  background: url('/images/login/button-overlay.png') #fbfbfb repeat-x;
  display: inline-block;
  padding: 7px 10px;
  color: #434242;
  font-style: italic;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
}

#login #form .formSubmit {
  margin: 30px 25px 30px 0;
}

#login #form .button {
  background: url('/images/login/button-overlay.png') #000 repeat-x;
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border: 1px solid #000;
  border-bottom: 1px solid rgba(0,0,0,0.25);  
  font-weight: bolder;
  font-size: 16px;
}

/*--------------------------------------------------------------------
   3. Content
--------------------------------------------------------------------*/