/*--------------------------------------------------------------------

[Master Stylesheet]

Framework : BIC
Version : 2.7.2
Last Change : 17/02/2010
Author : Alexandre "pocky" BALMES - http://www.pockyworld.com
Please use for beautiful design only

[Credits]
clean.css is inspired from Meyer : http://meyerweb.com

--------------------------------------------------------------------*/


@import "bic/clean.css";
@import "bic/typography.css";
@import "bic/color.css";
@import "bic/layout.css";
@import "bic/myclass.css";


/*--------------------------------------------------------------------
  1. General
--------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*--------------------------------------------------------------------
   2. Login
--------------------------------------------------------------------*/

body#login {
  background: url('/images/login/bg.jpg') #000;
  color: #ebebeb;
}

body#login a {
  color: #ebebeb;
}

body#login h1 a:hover {
  border-bottom: 0;
}

body#login h2 {
  font-weight: bolder;
  text-indent: 0px;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 10px;
}

#containerIn {
  padding-top: 200px;
}

#login h1 {
  margin-top: 70px;
}

#login #form {
  border-left: 1px solid #fbfbfb;
  padding-left: 20px;
}

#login #form .text-input {
  width: 255px;
  background: url('/images/login/button-overlay.png') #fbfbfb repeat-x;
  display: inline-block;
  padding: 7px 10px;
  color: #434242;
  font-style: italic;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
}

#login #form .formSubmit {
  margin: 30px 25px 30px 0;
}

#login #form .button {
  background: url('/images/login/button-overlay.png') #000 repeat-x;
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border: 1px solid #000;
  border-bottom: 1px solid rgba(0,0,0,0.25);  
  font-weight: bolder;
  font-size: 16px;
}

#login #form #password-clear {
  display: none;
}

/*--------------------------------------------------------------------
   3. Content
--------------------------------------------------------------------*/

#sidebar {
  width: 260px;
}

#sidebar h1 {
  height: 100px;
  background-color: #1d1d1d;
  text-align: center;
  margin-bottom: 30px;
}

#sidebar h1 img {
  margin-top: 30px;
}

#sidebar a {
  border-bottom: 0;
  color: #959494;
}

#sidebar a:hover, #sidebar a.current {
  color: #1d1d1d;
}

#sidebar ul {
  margin: 10px 10px 10px 0;
  font-size: 16px;
  text-transform: uppercase;
}

#sidebar ul li {
  list-style-type: none;
  border-bottom: 1px solid #959494;
  margin-top: 10px;
  font-weight: bolder;
  padding-right: 10px;
}

#sidebar ul li ul {
  font-size: 14px;
  text-transform: none;
}

#sidebar ul li ul li {
  border-bottom: 0;
  margin-top: 0;
  font-weight: normal;
  padding-right: 0;
}

#sidebar ul li ul li a {
  width: auto;
  display: inline;
}

#content {
  min-width: 700px;
  margin-left: 260px;
}

#header {
  height: 50px;
  background-color: #1d1d1d;
  color: #e1e1e1;
}

#header a {
  color: #e1e1e1;
}

#header p {
  margin: 0;
  padding: 10px;
}

#header ul {
  margin: 0;
  margin-top: 5px;
}

#header ul a {
  display: block;
  height: 41px;
  width: 47px;
  float: left;
  border-bottom: 0;
}

#header ul a.user {
  background: url('/images/backend/a-profil.jpg') no-repeat;
  text-indent: -1984px;
}

#header ul a.user:hover {
  background: url('/images/backend/a-profil.jpg') no-repeat 0 -41px;
}

#header ul a.exit {
  background: url('/images/backend/a-exit.jpg') no-repeat;
  text-indent: -1984px;
}

#header ul a.exit:hover {
  background: url('/images/backend/a-exit.jpg') no-repeat 0 -41px;
}

#sfContent {
  padding: 10px;
}

#sfContent #sf_admin_container a {
  border-bottom: 0;
}

#sfContent #sf_admin_container input[type=text], #sfContent #sf_admin_container textarea {
  width: 100%;
}

#sfContent #sf_admin_container .sf_admin_filter input[type=text] {
  width: 100px;
}

#sfContent #sf_admin_container input[type=submit] {
  background: url('/images/login/button-overlay.png') #fbfbfb repeat-x;
  display: inline-block;
  padding: 5px;
  color: #434242;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#sfContent #sf_admin_container tr {
  width: 100%;
}

#sfContent #sf_admin_container table {
  border-collapse: collapse;
}

#sfContent input.sf_admin_batch_checkbox, #sfContent input#sf_admin_list_batch_checkbox {
  padding: 10px; margin-top: 6px;
}

#sfContent #sf_admin_container h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: -1px;
  text-transform: uppercase;
}

#sfContent input[type="text"] {
  width: 600px;
}