/*
By Mystick for Aion Lightning, Sunday 22 August, 10:45 PM
*/
body
{
	background-image: url("/images/main_bg.jpg");
	padding: 0;
	margin: 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
}
img
{
border:0px;
}
/*
Top box with User information
*/
#topbox
{
	background: url("/images/toparea_bg.png");
	height: 92px;
	width: 500px;
	margin: 0 auto;
	padding: 0;
  margin-bottom:25px;
  text-align:center;
  font-family:tahoma,sans-serif;
  font-size:13px;
  color:#444444;
}
#topbox input[type=text], #topbox input[type=password]
{

	height: 32px;
	width: 139px;
	background: url("/images/inputbox.png") no-repeat;
  border:0px;
  font-size:12px;
  padding-left:10px;
  padding-right:10px;
}
#topbox input[type=submit]
{

	height: 24px;
	width: 127px;
	background: url("/images/submitbox.png") no-repeat;
  border:0px;
  font-size:12px;
}
/*
Top box with logo and Seach Box 
*/
#top
{
	height: 72px;
	width: 60%;
	margin: 0 auto;
	padding: 0;
  margin-bottom:25px;
}
#top .logo
{
	height: 85px;
	width: 350px;
}
#top .logo a
{
border:0px;
}
#top .searchbox
{
  float:right;
  margin-top:40px;
}
#top .searchbox input[type=text]
{

	height: 32px;
	width: 122px;
	background: url("/images/searchbox.png") no-repeat;
  border:0px;
  font-size:12px;
  padding-left:10px;
  padding-right:40px;
}
#top .searchbox input[type=submit]
{
	height: 32px;
	width: 40px;
  background-color:transparent;
  border:none;
  margin-left:-43px;
}



/*
Content box
*/
#content
{
	background: url("/images/main_body_bg.png");
	width: 60%;
	margin: 0 auto;
  margin-bottom:55px;
  border: 2px solid #7FA0A9;
  padding-top:20px;
  padding-bottom:20px;
}


/*
Menu in Content box
*/
#content #menu
{
width: 97%;
height:50px;
margin:auto;
font-family:tahoma,sans-serif;
margin-bottom:25px;
}
#content #menu #menu-l
{
  background:url("/images/toolbar-l.png") no-repeat scroll 0 0 transparent;
  padding-left:20px;
}
#content #menu #menu-c
{
  background:url("/images/toolbar-bg.png") repeat-x scroll 0 0 transparent;
  height:50px;
}
#content #menu #menu-r
{
  background:url("/images/toolbar-r.png") no-repeat scroll 100% 0 transparent;
  padding-right:20px;
}
#content #menu #menu-c ul
{
  padding:0px;
  padding-top:16px;
}
#content #menu #menu-c li
{
  display:inline;
  color: white;
  font-family:tahoma,sans-serif;
  font-size:12px;
  text-transform:uppercase;
  margin-left:20px;
}
#content #menu #menu-c li a
{
  text-decoration:none;
  color: white;
}

/*
Quest Page
*/
#content .page
{
  width:98%;
  margin:auto;
  font-family:tahoma,sans-serif;
  font-size:12px;
  margin-bottom:8px;
  margin-top:8px;
}
#content .page a
{
  color: black;
  text-decoration:none;
}
#content .page a:hover
{
  color: black;
  text-decoration:none;
  color: #7FA0A9;
}
#content .page h2
{
  font-family:tahoma,sans-serif;
  font-size:12px;
  font-weight:bold;
  display: inline;
}
/*
Quest Table
*/
#content #table
{
  width:98%;
  margin:auto;
  border:1px solid #193C5F;
  padding:1px;
}
#content #table table 
{
	width:100%;
  border-spacing:0px;
	border-collapse:collapse; 
}
#content #table table thead tr
{
	background: url("/images/catbg.png") repeat-x;
}
#content #table table thead
{
	border-bottom: 2px solid transparent;
}
#content #table table thead th
{
  color:#B4CEEF;
  text-decoration:none;
  font-size:12px;
  font-weight:normal;
  text-transform:uppercase;
  padding:5px 5px 5px 10px;
}
#content #table table thead tr th.table-id
{
  width:10%;
}
#content #table table thead tr th.table-name
{
  width:35%;
}
#content #table table thead tr th.table-status
{
  width:20%;
}
#content #table table thead tr th.table-zone
{
  width:25%;
}
#content #table table thead tr th.table-race
{
  width:10%;
}
#content #table table tbody tr
{
  height: 30px;
  color:#000000;
  font-family:tahoma,sans-serif;
  font-size:14px;
}
#content #table table tbody td
{
  text-align:center;
}
#content #table table tbody tr a
{
text-decoration:none;
color:black;
}
#content #table table tbody tr td.bold
{
font-weight:bold;
}

#content #table table tbody tr.valid
{
  background-color:green;
}
#content #table table tbody tr.error
{
  background-color:red;
}
#content #table table tbody tr.indev
{
  background-color:#8ACDFF;
}
#content #table table tbody tr.odd
{
  background-color:#D2D2D2;
}
#content #table table tbody tr.even
{
  background-color:#BBBBBB;
}
/*
Bottom box
*/
#bottom
{
	background: url("/images/footer_bg.png");
	height: 70px;
	width: 540px;
	margin: 0 auto;
	padding-top:50px;
  text-align:center;
  font-family:tahoma,sans-serif;
  font-size:11px;
  color:#444444;
}
.table-show
{
  margin-top:50px;
  margin-bottom:50px;
}

.table-show table
{
  text-align:center;
  margin: 0 auto;
  width:70%;
  border-spacing:0px;
	border-collapse:collapse;
  border:3px solid black;
}
.table-show table tr td
{
  border: 1px solid black;
  height:35px;
}
.table-show table tbody tr td.columns2
{
  border: 1px solid black;
  height:35px;
  width:65%;
}
.table-show table tbody tr td.columns1
{
  border: 1px solid black;
  height:35px;
  width:35%;
}
.table-comment h1
{
text-align:center;
color: #25475E;
}
.table-comment table
{
  margin: 0 auto;
  width:70%;
  border-spacing:5px;
  border: none;
}
.table-comment table tr td
{
  height:35px;
  padding-bottom:10px;
}
.table-comment table tbody tr td.columns2
{
  height:35px;
  width:65%;
  vertical-align:top;
  font-family:tahoma,sans-serif;
  font-size:13px;
  color:#444444;
  max-width:600px;
}
.table-comment table tbody tr td.columns1
{
  height:35px;
  width:35%;
  vertical-align:top;
  font-family:tahoma,sans-serif;
  font-size:12px;
  color:#444444;
  font-weight:bold;
}
.table-comment table thead tr
{
	background: url("/images/catbg.png") repeat-x;
}
.table-comment table thead tr th.table-author
{
  width:15%;
}
.table-comment table thead th
{
  color:#B4CEEF;
  text-decoration:none;
  font-size:12px;
  font-weight:normal;
  text-transform:uppercase;
  padding:5px 5px 5px 10px;
}
.table-comment table thead tr th.table-message
{
  width: 65%;
}

.table-signin h1
{
text-align:center;
color: #25475E;
}
.table-signin table
{
  margin: 0 auto;
  width:30%;
  border-spacing:0px;
  border: none;
}
.table-signin table tbody tr td.columns2
{
  height:45px;
  width:50%;
  font-family:tahoma,sans-serif;
  font-size:13px;
  color:#444444;
  text-align:center;
}
.table-signin table tbody tr td.columns1
{
  height:45px;
  width:50%;
  font-family:tahoma,sans-serif;
  font-size:12px;
  color:#444444;
  font-weight:bold;
  text-align:center;
}
.table-signin table tbody tr td.columns3
{
  height:45px;
  width:100%;
  font-family:tahoma,sans-serif;
  font-size:12px;
  color:#444444;
  font-weight:bold;
  text-align:center;
}
.table-signin input[type=text], .table-signin input[type=password]
{

	height: 32px;
	width: 139px;
	background: url("/images/inputbox.png") no-repeat;
  border:0px;
  font-size:12px;
  padding-left:10px;
  padding-right:10px;
}
.table-comment input[type=submit]
{
	height: 24px;
	width: 127px;
	background: url("/images/submitbox.png") no-repeat;
  border:0px;
  font-size:12px;
  margin-top:20px;
}
.table-comment textarea
{
  background-color:transparent;
	background: url("/images/bg_input.png") repeat;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding:7px;
  border: solid 3px RGBa( 146,146,146,0.3);
  font-size:12px;
  width:95%;
  max-width:600px;
  height:100px;
}
.table-comment table tbody tr td.columns1-add
{
  vertical-align:middle;
  height:35px;
  width:35%;
  text-align:center;
  font-family:tahoma,sans-serif;
  font-size:12px;
  color:#444444;
  font-weight:bold;
}
.table-comment table tbody tr td.columns2 form
{
  text-align:center;
}
.table-show input[type=submit]
{
	height: 24px;
	width: 127px;
	background: url("/images/submitbox.png") no-repeat;
  border:0px;
  font-size:12px;
  margin-left:40px;
}
.table-show select
{
  background-color:transparent;
	background: url("/images/bg_input.png") repeat;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding:5px;
  border: solid 3px RGBa( 146,146,146,0.3);
  font-size:12px;
  margin-left:40px;
  height:30px;
  width:130px;
}
