/*--------------------------------------------------------------------

[Master Stylesheet]

Framework : BIC
Version : 2.7.2
Last Change : 17/02/2010
Author : Alexandre "pocky" BALMES - http://www.pockyworld.com
Please use for beautiful design only

[Credits]
clean.css is inspired from Meyer : http://meyerweb.com


	Table of Contents
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
	1. Global
	2. Header
	3. Content and footer

--------------------------------------------------------------------*/


@import "bic/clean.css";
@import "bic/typography.css";
@import "bic/color.css";
@import "bic/layout.css";
@import "bic/myclass.css";


/*--------------------------------------------------------------------
   1. Global
     - form
     - notification 
--------------------------------------------------------------------*/

form .text-input {
  width: 255px;
  background: url('/images/login/button-overlay.png') #fbfbfb repeat-x;
  display: inline-block;
  padding: 7px 10px;
  color: #434242;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

form .textarea {
  width: 500px;
}

form .formSubmit {
  margin: 30px 25px 30px 0;
}

form .button {
  background: url('/images/login/button-overlay.png') #000 repeat-x;
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border: 1px solid #000;
  border-bottom: 1px solid rgba(0,0,0,0.25);  
  font-weight: bolder;
}


.notification {
  border: 1px solid;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.error {
  border-color: red;
  background-color: #fb7675;
}


/*--------------------------------------------------------------------
   2. header
--------------------------------------------------------------------*/
#header {
  margin: 40px 0;
}

#header h1 {
  font-size: 56px;
  width: 200px;
  margin-right: 100px;
}

.menu {
  margin: 40px 0 0 0;
  padding: 0;
  position: relative;
  bottom: 20px;
}

.menu li {
  float: left;
  position: relative;
  padding: 10px;
  margin: 0 5px;
  
}

.menu a {
  background: url('/images/login/button-overlay.png') #000 repeat-x;
  display: block;
  padding: 7px 10px;
  color: #fefefe;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.menu ul {
  display: none;
  width: 185px;
  position: absolute;
  top: 20px;
  left: 0;
  background-color: #000;
  z-index: 1;
}

.menu li:hover > ul {
  display: block;
  background: url('/images/login/button-overlay.png') #000 repeat-x;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.menu ul li {
  float: none;
}

.menu ul ul {
  left: 160px;
  top: 0;
}

#header h1:hover, #header h1:hover a {
  color: #fefefe;
  background-color: #1b1b1b;
}

#header a:hover {
  border-bottom: 0;
}


/*--------------------------------------------------------------------
   3. Content and footer
--------------------------------------------------------------------*/

#content ul {
  list-style: disc inside;
  margin-left: 20px;
}

#content a, #footer a {
  border-bottom: 1px solid;
}

#content a:hover, #footer a:hover {
  border-bottom: 0;
}

#footer {
  margin-top: 40px;
  font-size: 12px;
  color: #474747;
}

#footer p:hover {
  font-weight: normal;
}

