/*--------------------------------------------------------------------

[Master Stylesheet]

Framework : BIC
Version : 2.7.2
Last Change : 17/02/2010
Author : Alexandre "pocky" BALMES - http://www.pockyworld.com
Please use for beautiful design only

[Credits]
clean.css is inspired from Meyer : http://meyerweb.com

--------------------------------------------------------------------*/


@import "bic/clean.css";
@import "bic/typography.css";
@import "bic/color.css";
@import "bic/layout.css";
@import "bic/myclass.css";


/*--------------------------------------------------------------------
                          Start here
--------------------------------------------------------------------*/

#header {
  margin: 40px 0;
}

#header h1 {
  font-size: 56px;
}

#header ul {
  border-bottom: 4px solid;
  margin: 40px 0 0 0;
  padding: 0;
  position: bottom;
}

#header ul li {
  padding: 0 10px;

}

#header a:hover {
  border-bottom: 0;
  color: #fefefe;
  background-color: #1b1b1b;
}

#content ul {
  list-style: disc inside;
  margin-left: 20px;
}

#footer {
  margin-top: 40px;
  font-size: 12px;
  color: #474747;
}