/*--------------------------------------------------------------------

[Master Stylesheet]

Framework : BIC
Version : 2.7.2
Last Change : 17/02/2010
Author : Alexandre "pocky" BALMES - http://www.pockyworld.com
Please use for beautiful design only

[Credits]
clean.css is inspired from Meyer : http://meyerweb.com

--------------------------------------------------------------------*/


@import "bic/clean.css";
@import "bic/typography.css";
@import "bic/color.css";
@import "bic/layout.css";
@import "bic/myclass.css";


/*--------------------------------------------------------------------
                          Start here
--------------------------------------------------------------------*/

#header {
  margin: 40px 0;
}

#header h1 {
  font-size: 56px;
}

#header ul {
  border-bottom: 4px solid;
  margin: 40px 0 0 0;
  padding: 0;
  position: bottom;
}

#header ul li {
  padding: 0 10px;

}

#header h1:hover, #header h1:hover a, #header ul li:hover, #header ul li:hover a {
  color: #fefefe;
  background-color: #1b1b1b;
}

#header a:hover {
  border-bottom: 0;
}

#content ul {
  list-style: disc inside;
  margin-left: 20px;
}

#content a, #footer a {
  border-bottom: 1px solid;
}

#content a:hover, #footer a:hover {
  border-bottom: 0;
}

#footer {
  margin-top: 40px;
  font-size: 12px;
  color: #474747;
}

#footer p:hover {
  font-weight: normal;
}

form .text-input {
  width: 255px;
  background: url('/images/login/button-overlay.png') #fbfbfb repeat-x;
  display: inline-block;
  padding: 7px 10px;
  color: #434242;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

form .textarea {
  width: 500px;
}

form .formSubmit {
  margin: 30px 25px 30px 0;
}

form .button {
  background: url('/images/login/button-overlay.png') #000 repeat-x;
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border: 1px solid #000;
  border-bottom: 1px solid rgba(0,0,0,0.25);  
  font-weight: bolder;
}


.notification {
  border: 1px solid;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.error {
  border-color: red;
  background-color: #fb7675;
}